// LandingPage.scss

// @use "../../styles/mixins.module" as *;
@use "../../styles/variables.module" as *;

ul.landing-page {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	row-gap: 20px;
	column-gap: 20px;
	li {
		width: $card-size;
		height: $card-size;
		border: 1px solid rgb(var(--color-border-subtle) / 1);
		border-radius: 20px;
		display: flex;
		background: var(--primary);
		background: linear-gradient(180deg, var(--primary) 0%, var(--destructive) 100%);
		// text-decoration: none !important;
		&:hover {
			background: linear-gradient(180deg, var(--destructive) 0%, var(--primary) 100%);
		}
		a {
			padding: 20px;
			display: flex;
			width: 100%;
			height: 100%;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			text-align: center;
			text-decoration: none !important;
			h1,
			h2 {
				font-weight: bold;
				color: var(--primary-foreground);
				// text-decoration: none;
			}
		}
	}
}
