// Card.scss

@use "../../../styles/media-queries.scss" as *;
@use "../../../styles/mixins.module" as *;
@use "../../../styles/variables.module" as *;
$border-radius: 10px;
$transition-time: $memory-card-transition-time;
$units: 4px;
$none: rgba(#fff, 0);
$blue: var(--primary);
$card-back-border-width: 8px;
#MemoryMatchGame4 {
	.card {
		.card-contents-container {
			.card-image-container {
				background-size: 80%;
			}
		}
		&.aeroplane,
		&.airship,
		&.car,
		&.hang-glider,
		&.hovercraft,
		&.narrowboat {
			.card-contents-container {
				.card-image-container {
					background-size: 100%;
				}
			}
		}
		&.monorail,
		&.bicycle {
			.card-contents-container {
				.card-image-container {
					background-size: 86%;
				}
			}
		}
		&.tram,
		&.balloon {
			.card-contents-container {
				.card-image-container {
					background-size: 68%;
				}
			}
		}
		&.cablecar {
			.card-contents-container {
				.card-image-container {
					background-size: 60%;
				}
			}
		}
		&.rocket {
			.card-contents-container {
				.card-image-container {
					background-size: 40%;
				}
			}
		}
	}
}

.memory-match-game {
	.card {
		background-color: var(--card);
		background: var(--card);
		background: radial-gradient(
			circle,
			var(--card) 0%,
			var(--card) 79%,
			color-mix(in oklab, var(--card) 90%, var(--muted)) 100%
		);
		border-radius: $border-radius;
		border: 1px solid var(--border);
		box-shadow: 2px 2px 2px color-mix(in oklab, var(--foreground) 60%, transparent);
		cursor: pointer;
		height: 100px * 0.5;
		width: 160px * 0.5;
		padding: 10px;
		position: relative;
		text-align: center;
		font-weight: bold;

		transform: rotateX(0deg);
		transform-style: preserve-3d;
		transition:
			transform $transition-time,
			box-shadow $transition-time;
		.card-contents-container {
			&:before {
				@include standard-pseudo();
				backface-visibility: hidden;
				border-radius: $border-radius;
			}
			top: 0;
			left: 0;
			border-radius: $border-radius;
			position: absolute;
			backface-visibility: hidden;
			transform: rotateX(180deg);
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			.card-image-container {
				max-height: 100px;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center center;
				width: calc(100% - 20px);
				height: calc(100% - 20px);
				display: inline-block;
			}
		}
		.card-back {
			&:after {
				@include standard-pseudo();
				background-image: url("/images/memory/yorkshire-rose.png");
				background-position: center;
				background-repeat: no-repeat;
				background-size: 60px;
				backface-visibility: hidden;
				z-index: -1;
				border: 3px solid $blue;
				box-sizing: border-box;
			}
			border-radius: $border-radius;
			position: absolute;
			backface-visibility: hidden;
			top: 0;
			left: 0;
			height: 100%;
			z-index: 1;
			align-items: center;
			justify-content: center;
			width: 100%;
			display: flex;
			border: $card-back-border-width solid var(--background);
			box-sizing: border-box;

			background-image:
				repeating-linear-gradient(45deg, $none, $none Calc(1 * $units), $blue Calc(1 * $units), $blue Calc(2 * $units)),
				repeating-linear-gradient(-45deg, $none, $none Calc(1 * $units), $blue Calc(1 * $units), $blue Calc(2 * $units));
			span {
				display: none;
			}
			&:before {
				@include standard-pseudo();
			}
		}
		&.been-flipped {
			.card-back {
				&:before {
					animation: shadeHalf calc($transition-time/4) ease-in-out calc($transition-time/4);
				}
			}
			.card-contents-container {
				&:before {
					@include standard-pseudo();
					animation: shade calc($transition-time/2) ease-in-out;
				}
			}
		}

		&.flipped {
			transform: rotateX(180deg);
			transition:
				transform $transition-time,
				box-shadow $transition-time;
			box-shadow: 2px -2px 2px color-mix(in oklab, var(--foreground) 60%, transparent); //0.2);
			.card-back {
				&:before {
					animation: shade calc($transition-time/2) ease-in-out;
				}
			}
			.card-contents-container {
				&:before {
					animation: shadeHalf calc($transition-time / 2) ease-in-out calc($transition-time/4);
				}
			}
		}
	}

	.cards {
		.card {
			height: 100px * 0.7;
			width: 160px * 0.7;
			font-size: 0.8rem;
		}
	}

	.matches {
		.card {
			height: 100px * 0.6;
			width: 160px * 0.6;
			font-size: 0.6rem;
		}
	}
}
@include respond-above(l) {
	.memory-match-game {
		.cards {
			.card {
				font-size: 0.8rem;
			}
		}
		.matches {
			.card {
				font-size: 0.7rem;
			}
		}
	}
}

@include respond-above(xl) {
	.memory-match-game {
		.cards {
			.card {
				height: 100px * 0.8;
				width: 160px * 0.8;
				font-size: 0.9rem;
			}
		}
		.matches {
			.card {
				height: 100px * 0.6;
				width: 160px * 0.6;
				font-size: 0.8rem;
			}
		}
	}
}

@include respond-above(xxl) {
	.memory-match-game {
		.cards {
			.card {
				height: 100px;
				width: 160px;
				font-size: 1rem;
			}
		}
		.matches {
			.card {
				height: 100px * 0.7;
				width: 160px * 0.7;
			}
		}
	}
}

@keyframes shade {
	0% {
		background-color: color-mix(in oklab, var(--destructive) 0%, transparent);
	}
	45% {
		background-color: color-mix(in oklab, var(--foreground) 40%, transparent); //red; //rgba(255, 0, 0, 0.3);
	}
	50% {
		background-color: color-mix(in oklab, var(--foreground) 40%, transparent); //red; //rgba(255, 0, 0, 0.4);
	}

	55% {
		background-color: color-mix(in oklab, var(--foreground) 40%, transparent); //red; //rgba(255, 0, 0, 0.3);
	}
	100% {
		background-color: color-mix(in oklab, var(--destructive) 0%, transparent);
	}
}

@keyframes shadeHalf {
	0% {
		background-color: color-mix(in oklab, var(--foreground) 40%, transparent); //blue; //rgba(255, 0, 0, 0.4);
	}

	15% {
		background-color: color-mix(in oklab, var(--foreground) 40%, transparent); //blue; //rgba(255, 0, 0, 0.3);
	}
	100% {
		background-color: color-mix(in oklab, var(--destructive) 0%, transparent);
	}
}
