/*
Monologue.scss
*/
@use "../../styles/colours.module" as *;
@use "../../styles/media-queries.scss" as *;
@use "../../styles/mixins.module" as *;
@use "../../styles/variables.module" as *;

.monologue-container {
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
	&.compact {
		padding: 8px 12px;
		form {
			display: flex;
			align-items: space-between;
			column-gap: 20px;
		}
	}
	// textarea {
	// 	width: 100vw;
	// 	min-width: 100vw;
	// }
	@include comparison();
	.comparison-result {
		border-radius: 8px;
		padding: 2px 4px;
		border-color: var(--border);
		box-shadow: 0 1px 2px color-mix(in oklab, var(--foreground) 20%, transparent);
	}
}
// @include respond-above(s) {
// 	.monologue-container {
// 		textarea {
// 			width: 60vw;
// 			min-width: 60vw;
// 		}
// 	}
// }
