/*
Info.scss
*/
@use "../../styles/colours.module" as *;
@use "../../styles/mixins.module" as *;
@use "../../styles/variables.module" as *;

$info-blue: var(--primary);

.information {
	background-color: rgb(var(--color-primary-50) / 1);
	padding: 12px 16px 12px 16px;
	position: relative;
	border-radius: 0.6rem;
	display: flex;
	column-gap: 0.4rem;
	align-items: flex-start;
	border: 2px solid rgb(var(--color-primary-400) / 1);
	color: $info-blue;
	font-size: var(--font-size-sm);
	line-height: var(--body-line-height);
	margin-top: 0.25rem;
	.info-icon {
		/* Align icon center to the lead line (h3) in the info panel */
		font-size: var(--font-size-base);
		width: 2em;
		height: 2em;
		margin-top: calc((1.4em - 2em) / 2);
		flex: 0 0 auto;
		display: inline-block;
		background-color: $info-blue;
		-webkit-mask: url("/public/images/icons/info-icon.svg") no-repeat center / contain;
		mask: url("/public/images/icons/info-icon.svg") no-repeat center / contain;
	}
	> div.info-content {
		li {
			font-size: var(--font-size-sm);
			line-height: var(--body-line-height);
			margin-top: 0.3rem;
		}
			h3 {
				font-size: var(--font-size-base);
				line-height: 1.4;
				margin-top: 0;
			}
			h4 {
				font-size: var(--font-size-sm);
				margin-top: 0rem;
			}
	}
}
