/*
RadioC.scss
*/

@use "../../../styles/colours.module" as *;
@use "../../../styles/mixins.module" as *;
@use "../../../styles/variables.module" as *;

.radio-container {
	grid-template-columns: 1fr;
	grid-template-rows: 2fr;
	grid-template-areas:
		"one"
		"error";
	&.radios1 {
		grid-template-areas:
			"one"
			"error";
	}
	&.radios2 {
		grid-template-rows: 3fr;
		grid-template-areas:
			"one"
			"two"
			"error";
	}
	&.radios3 {
		grid-template-rows: 4fr;
		grid-template-areas:
			"one"
			"two"
			"three"
			"error";
	}
	&.radios4 {
		grid-template-rows: 5fr;
		grid-template-areas:
			"one"
			"two"
			"three"
			"four"
			"error";
	}
	&.radios5 {
		grid-template-rows: 6fr;
		grid-template-areas:
			"one"
			"two"
			"three"
			"four"
			"five"
			"error";
	}
	&.radios6 {
		grid-template-rows: 7fr;
		grid-template-areas:
			"one"
			"two"
			"three"
			"four"
			"five"
			"six"
			"error";
	}
	// &.invert-row-highlighting {
	// 	.radio-row {
	// 		background: $stripe_even;
	// 		&:nth-of-type(even) {
	// 			background: $stripe_odd;
	// 		}
	// 	}
	// }
	> label {
		// border: 1px solid green;
		padding: 1vh;
		min-height: $form-common-height;
	}
	&.same-row {
		grid-gap: $common-grid-gap;
		grid-template-rows: 2fr;
		transition:
			padding 0.5s,
			max-height 0.5s;
		max-height: 50px;
		&.error {
			max-height: none;
		}
		overflow-y: hidden;
		&.radios1 {
			grid-template-columns: 1fr;
			grid-template-areas:
				"one"
				"error";
		}
		&.radios2 {
			grid-template-columns: 1fr 1fr;
			grid-template-areas:
				"one two"
				"error error";
		}
		&.radios3 {
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-areas:
				"one two three"
				"error error error";
		}
		&.radios4 {
			grid-template-columns: 1fr 1fr 1fr 1fr;
			grid-template-areas:
				"one two three four"
				"error error error error";
		}
		&.radios5 {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
			grid-template-areas:
				"one two three four five"
				"error error error error error";
		}
		&.radios6 {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
			grid-template-areas:
				"one two three four five six"
				"error error error error error error";
		}
		&.labelled {
			&.radios1 {
				grid-template-columns: 1fr 1fr;
				grid-template-areas:
					"label one"
					"error error";
			}
			&.radios2 {
				grid-template-columns: 1fr 1fr 1fr;
				grid-template-areas:
					"label one two"
					"error error error";
			}
			&.radios3 {
				grid-template-columns: 1fr 1fr 1fr 1fr;
				grid-template-areas:
					"label one two three"
					"error error error error";
			}
			&.radios4 {
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
				grid-template-areas:
					"label one two three four"
					"error error error error error";
			}
			&.radios5 {
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
				grid-template-areas:
					"label one two three four five"
					"error error error error error error";
			}
			&.radios6 {
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
				grid-template-areas:
					"label one two three four five six"
					"error error error error error error error";
			}
			> label {
				grid-area: label;
				// border: 1px solid red;
				padding: 0;
			}
		}
		.radio {
			&:last-of-type {
				border-right: none;
			}
			.radio-device {
				position: static;
				// &::before {
				// 	right: 24px;
				// }
				// &.checked {
				// 	&::after {
				// 		right: 24px;
				// 	}
				// }
			}
		}
	}
	.radio {
		position: relative;
		cursor: pointer;
		display: flex;
		label {
			cursor: pointer;
			grid-area: "label";
		}
	}
}
$radio-diameter: 16px;
$dot-diameter: calc($radio-diameter - 6px);
.radio-device {
	display: flex;
	flex-direction: row;
	align-items: center;
	grid-area: device;
	justify-content: flex-end;
	position: relative;
	&.disabled {
		&::before {
			border-color: $disabled-foreground !important;
		}
		&.checked {
			&::after {
				background-color: $disabled-foreground !important;
			}
		}
		cursor: not-allowed;
	}
	&::before {
		content: "";
		width: $radio-diameter;
		height: $radio-diameter;
		display: block;
		border-width: 2px;
		border-style: solid;
		border-color: var(--foreground);
		border-radius: 50%;
		top: 50%;
		// margin-top: -$radio-diameter/2;
		margin-left: 4px;
	}
	&.checked {
		&::after {
			content: "";
			position: absolute;
			width: $dot-diameter;
			height: $dot-diameter;
			display: block;
			background-color: var(--foreground);
			border-radius: 50%;
			top: 50%;
			margin: - calc($dot-diameter / 2) calc(($radio-diameter - $dot-diameter) / 2);
			// right: 0;
		}
	}
}
