/*
ReadAloud.scss
*/
@use "../../styles/colours.module" as *;
@use "../../styles/media-queries.scss" as *;
@use "../../styles/mixins.module" as *;
@use "../../styles/variables.module" as *;

.read-aloud-container {
	// display: flex;
	// flex-direction: column;
	position: relative;
	padding: 20px;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: repeat(auto-fit, minmax(240px, 1fr));
	gap: 8px;
	grid-template-areas:
		"instructions instructions"
		"form microphone"
		"help help";
	.recording-container {
		height: 160px;
		width: 80px;
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
		align-items: center;
		background-image: url(/images/microphone-off.png);
		background-repeat: no-repeat;
		background-position: center 4px;
		background-size: 80%;
		margin: 20px;
		align-self: center;
		justify-self: end;
		// button {
		border-radius: 4px;
		cursor: pointer;
		// }
		grid-area: microphone;
	}
	&.recording {
		.recording-container {
			background-image: url(/images/microphone-on.png);
		}
	}
	.instructions {
		grid-area: instructions;
		.phrase {
			font-style: italic;
		}
	}
	.form {
		grid-area: form;
		.understood {
			font-style: italic;
		}
		.comparison-result {
			border: 1px solid var(--border);
		}
	}
	.help {
		@include help();
		grid-area: help;
	}
	@include comparison();
}
@include respond-above(s) {
	.recording-container {
		height: 240px;
		width: 120px;
		background-size: 100%;
		margin: 40px;
	}
}
