// WordParts.scss

@use "../../styles/colours.module" as *;
@use "../../styles/media-queries.scss" as *;
@use "../../styles/mixins.module" as *;
@use "../../styles/variables.module" as *;

html.debug {
	.word-parts-container {
		span {
			border: 1px solid color-mix(in oklab, var(--destructive) 20%, transparent);
		}
	}
}

.word-parts-container {
	position: relative;
	table {
		p {
			margin: 0;
			letter-spacing: 0.2rem;
			perspective: 600px;
		}
	}
	.help {
		// padding: 0 1rem;
		// display: flex;
		// justify-content: space-between;
		// width: 100%;
		// align-items: center;
		@include help();
	}
	span {
		$tumble-iterations: 1; //8;
		$tumble-time: 0.5s; // Same as sound clip!
		border: 1px solid transparent;
		cursor: pointer;
		display: inline-block;
		font-size: 0.8rem; //1rem; //1.2rem;
		padding: 0; //0.1rem 0; //0.5rem 0;
		position: relative;
		transform-style: preserve-3d;
		user-select: none;
		&.animate {
			animation-name: vertical-rotate;
			animation-duration: $tumble-time;
			animation-timing-function: linear;
			animation-iteration-count: $tumble-iterations;
			@include correct-highlight();
			box-sizing: border-box;
			display: inline-block;
			&:before {
				// shade
				@include standard-pseudo();
				animation-name: shade;
				animation-duration: calc($tumble-time / 2);
				animation-timing-function: linear;
				animation-iteration-count: calc($tumble-iterations * 2);
			}
		}
		&:before {
			@include standard-pseudo();
		}
		&.error {
			@include incorrect-highlight();
		}
	}

	p.clue {
		font-size: 1.4rem;
		font-weight: bold;
	}

	.hidden-help {
		opacity: 0;
		transition: opacity 4s;
		&.show {
			opacity: 1;
			transition: opacity 4s;
		}
	}

	.word-space {
		display: inline-block;
		width: 0.5em; /* tweak to match old visual spacing */
	}
}
@keyframes vertical-rotate {
	0% {
		transform: rotateX(0deg);
		box-shadow: 4px 4px 4px color-mix(in oklab, var(--foreground) 20%, transparent);
	}
	50% {
		transform: rotateX(180deg);
		box-shadow: 4px -4px 4px color-mix(in oklab, var(--foreground) 20%, transparent);
	}
	100% {
		transform: rotateX(360deg);
		box-shadow: 4px 4px 4px color-mix(in oklab, var(--foreground) 20%, transparent);
	}
}
@keyframes shade {
	0% {
		background-color: color-mix(in oklab, var(--destructive) 0%, transparent);
	}
	45% {
		background-color: color-mix(in oklab, var(--foreground) 40%, transparent);
	}
	50% {
		background-color: color-mix(in oklab, var(--foreground) 40%, transparent);
	}

	55% {
		background-color: color-mix(in oklab, var(--foreground) 40%, transparent);
	}
	100% {
		background-color: color-mix(in oklab, var(--destructive) 0%, transparent);
	}
}
@include respond-above(m) {
	.word-parts-container {
		> span {
			font-size: 1.2rem;
			padding: 0.5rem 0;
		}
		table {
			td {
				font-size: 1rem;
				padding: 0.25rem 1rem;
			}
		}
	}
}
@include respond-above(xxl) {
	.word-parts-container {
		span {
			font-size: 1.4rem;
		}
	}
}
