// Sortable.scss

.sortable {
	> svg {
		width: 24px;
		height: 24px;
	}
}
.sortable [data-sortable-tile="1"] {
	touch-action: none;
}
.sortable-tile {
	color: var(--foreground);
	background-color: rgb(var(--color-surface-elevated, var(--color-surface-base)) / 1);
	border-color: rgb(var(--color-border-default) / 1);
}

.sortable-tile:hover,
.sortable-tile[data-dragging="true"] {
	background-color: var(--accordion-mist);
	color: var(--accordion-hover-text);
	border-color: var(--accordion-hover-text);
}

.dark .sortable-tile {
	color: var(--foreground);
}

.dark .sortable-tile:hover,
.dark .sortable-tile[data-dragging="true"] {
	color: var(--accordion-hover-text);
}
