// LearningObjectMenu.scss

@use "../../styles/mixins.module" as *;
@use "../../styles/media-queries.scss" as *;
// .main-menu {
// 	display: flex;
// 	background: red;
// 	ul {
// 		display: flex;
// 		color: white;
// 	}
// }
ul#learningObjectMenu {
	// ul.learning-object-menu {
	width: 100%;
	margin: 0 0 0.5rem 0;
	display: none; //flex;
	list-style-type: none;
	list-style: none;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 0;
	flex-wrap: wrap;
	align-items: center;
	$ellipses-diameter: 10px;
	li {
		margin: 0.25rem;
		text-indent: 0;
		&.menu-item {
			// border: 1px solid rgb(0, 0, 0);
			// text-align: center;
			border-radius: 8px;
		}
		// color: white;
		text-decoration: none;
		font-weight: bold;
		a {
			&:visited {
				color: var(--primary-foreground);
			}
			text-align: center;
			border-radius: 8px;
			padding: 0.5rem 1rem;
			text-decoration: none;
			font-weight: bold;
			width: 100%;
			height: 100%;
			box-sizing: border-box;

			background-color: var(--primary);
			display: inline-block;
		}
		// &.highlight {
		// 	a {
		// 		// box-shadow:
		// 		// 	inset 4px 4px 8px rgba(0, 0, 0, 0.6),
		// 		// 	inset -4px -4px 8px rgba(255, 255, 255, 0.6);
		// 	}
		// }
	}
	// }
	li {
		a {
			color: var(--primary-foreground);
		}
	}
}
html.debug #learningObjectMenu {
	display: flex;
}
@include respond-above(m) {
	// .main-menu {
	// 	ul {
	// 		// 	h1 {
	// 		// 		font-size: 2rem;
	// 	}
	// }
}
