// Header.scss

@use "../../styles/mixins.module" as *;
@use "../../styles/media-queries.scss" as *;
header.main-header {
	@include header-footer-background;
	color: var(--primary-foreground);
	display: block;
	left: 0;
	margin: 0;
	text-align: center;
	top: 0;
	width: 100%;
	h1 {
		margin: 0;
	}
	// h2 {
	// 	margin: 0;
	// 	&:before {
	// 		display: none;
	// 	}
	// }
	box-shadow: 0 8px 8px color-mix(in oklab, var(--foreground) 20%, transparent);
}
