// Flag.scss

@use "../../styles/mixins.module" as *;

.flag-container {
	position: relative;
	overflow: visible;
	&::before {
		@include standard-pseudo();
		background-image: url("/images/flagpole.png");
		background-repeat: no-repeat;
		z-index: 0;
		height: 200%;
		background-size: 16.4%;
		top: -6.2px;
		left: -26.1px;
	}
	&.shadow {
		&::before {
			background-size: 14.4%;
			top: 8.1px;
			left: -9px;
		}
	}
	canvas {
		margin-top: 19px;
		z-index: 1001;
	}
}
