// Header.scss

@use "../../styles/mixins.module" as *;
@use "../../styles/variables.module" as *;
@use "../../styles/media-queries" as *;

.dialog-mask {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: color-mix(in oklab, var(--foreground) 25%, transparent); //rgba(255, 0, 0, 0.2);
	z-index: 999;
	display: none;
	&.show {
		display: block;
		cursor: not-allowed;
	}
}
.congratulate-dialog {
	background-color: var(--card);
	background: var(--card);
	border-radius: 16px;
	// border: $border-width * 1px ridge darkblue;
	box-sizing: border-box;
	// color: darkblue;
	display: flex;
	height: fit-content;
	inset: 0;
	margin: auto;
	min-height: 22vh;
	// min-width: 80vw;
	justify-self: center;
	opacity: 0;
	padding: 32px; //1rem;
	position: fixed;
	text-align: center;
	transform-origin: center center;
	transform: scale(0.01);
	transition-duration: 1s;
	transition-property: transform, opacity, box-shadow;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
	width: fit-content;
	z-index: 1000;
	&.show {
		justify-content: center;
		align-items: center;
		transform: scale(1);
		opacity: 1;
		transition-property: transform, opacity, box-shadow;
		// box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow); //16px 26px 16px rgba(0, 0, 0, 0.5);
	}
	button {
		top: 10px;
		right: 10px;
		width: 30px;
		height: 30px;
		position: absolute;
		font-weight: bold;
		color: transparent;
		border: var(--primary) 4px outset;
		text-indent: -9999px;
		border-radius: 8px;
		&::after {
			@include standard-pseudo();
			mask-image: url(/images/cross.svg);
			mask-position: center center;
			mask-repeat: no-repeat;
			background-color: var(--primary);
		}
		z-index: 1001;
		cursor: pointer;
		&:active {
			&::after {
				margin-top: 1px;
				margin-left: 1px;
			}
			border-style: inset;
		}
	}
}
@include respond-above(m) {
	.congratulate-dialog {
		margin: auto 10%;
		padding: 2rem;
		button {
			top: 20px;
			right: 20px;
		}
	}
}
@include respond-above(l) {
	.congratulate-dialog {
		padding: 4rem;
	}
}
