// RadioQuiz.scss

@use "../../styles/colours.module" as *;
@use "../../styles/media-queries.scss" as *;
@use "../../styles/variables.module" as *;
@-moz-document url-prefix() {
	.radio-quiz-container {
		label {
			input[type="checkbox"] {
				vertical-align: top; // Hack for Firefox :-(
			}
		}
	}
}
.radio-quiz-container {
	table {
		max-width: 100%;
	}
	span {
		display: inline-flex;
		&.explanation {
			// max-width: 0px;
			// overflow-x: hidden;
			// overflow-y: hidden;
			// transition: max-width ease-in-out 1s;
			// white-space: nowrap;
			transition: opacity ease-in-out 1s;
			opacity: 0;
			&.show {
				max-width: 600px;
				// transition: max-width ease-in-out 1s;
				// overflow-x: visible;
				// overflow-y: visible;
				// white-space: initial;
				transition: opacity ease-in-out 1s;
				opacity: 1;
			}
		}
	}
	$radio-diameter: 17px;
	$radio-spot-diameter: 8px;
	$offscreen: -99999px;
	label {
		margin-right: 24px;
		min-height: 26px;
		display: inline-block;
		cursor: pointer;
		&.disabled {
			cursor: not-allowed;
		}
		input[type="checkbox"] {
			// input[type="radio"] {
			-moz-appearance: initial; // Hack for Firefox :-(
			cursor: pointer;
			width: $radio-diameter - 4px;
			height: $radio-diameter - 4px;
			display: inline-block;
			border-width: 4px;
			position: relative;
			left: $offscreen;
			&::after {
				content: "";
				width: $radio-diameter;
				height: $radio-diameter;
				border-radius: calc($radio-diameter / 2);
				position: absolute;
				top: 0px;
				left: -$offscreen;
				border-width: 1px;
				border-style: solid;
				border-color: var(--border);
				box-sizing: border-box;
			}
			&:hover {
				&::after {
					background: var(--muted);
					background: radial-gradient(
						circle,
						var(--muted) 0%,
						var(--muted) 30%,
						var(--background) 31%,
						var(--background) 100%
					);
				}
			}
			&:disabled {
				cursor: not-allowed;
				&::after {
					content: "";
					cursor: not-allowed;
					width: $radio-diameter;
					height: $radio-diameter;
					border-radius: calc($radio-diameter / 2);
					position: absolute;
					top: 0;
					left: -$offscreen;
					border-style: solid;
					box-sizing: border-box;
					z-index: 2;
					background-color: var(--muted);
				}
			}
			&:checked {
				&::after {
					// Not disabled so incorrect, but user can have another go
					content: "";
					width: $radio-diameter;
					height: $radio-diameter;
					border-radius: calc($radio-diameter / 2);
					position: absolute;
					top: 0;
					left: -$offscreen;
					border-style: solid;
					border-color: var(--foreground);
					border-width: 5px;
					box-sizing: border-box;
					z-index: 2;
				}
				&:disabled {
					&::after {
						content: "";
						width: $radio-diameter;
						height: $radio-diameter;
						border-radius: calc($radio-diameter / 2);
						position: absolute;
						top: 0;
						left: -$offscreen;
						border-style: solid;
						border-color: var(--foreground);
						border-width: 5px;
						box-sizing: border-box;
						z-index: 2;
						background-color: var(--background);
					}
				}
			}
		}
	}
	table {
		text-align: left;
		border-collapse: collapse;

		td,
		th {
			height: 3rem;
			color: var(--foreground);
			font-weight: normal;
			border: none;
			padding: 5px 4px;
			span.inline-monologue {
				white-space: nowrap;
				.monologue-container {
					display: inline-flex;
				}
			}
		}
		tbody {
			border: none;
			tr {
				&.spacer {
					border-left: 1px solid var(--destructive);
					border-right: none;
					td {
						border-left: none;
						border-right: none;
					}
				}
			}
		}
		td {
			font-size: 0.8rem;
			padding: 0.1rem;
		}
	}
}
@include respond-above(m) {
	.radio-quiz-container {
		table {
			td {
				font-size: 1rem;
				padding: 0.25rem 1rem;
			}
		}
	}
}
