/*
Image.scss
*/
// @use '../../styles/variables.module.scss';
@use "../../styles/colours.module" as *;
@use "../../styles/mixins.module" as *;
@use "../../styles/media-queries.scss" as *;
.image-anchor {
	width: 100%;
	img {
		width: 100%;
	}
}

@include respond-above(m) {
	.image-anchor {
		// &.frame{
		// 	@include frame;
		// 	&.clearboth{
		// 		margin-top: 0;
		// 	}
		// }
		width: auto;
		.right {
			float: right;
			margin: 0 0 4% 4%;
			&.space-before {
				margin: 4vh 0 4% 4%;
			}
		}
		.left {
			float: left;
			margin: 0 4% 4% 0;
			&.space-before {
				margin: 4vh 4% 4% 0;
			}
		}
		.centre {
			margin: 0 0 4% 0;
			&.space-before {
				margin: 4vh 0 4% 0;
			}
		}
		&.max400 {
			.image {
				max-width: 400px;
			}
		}
		&.max600 {
			.image {
				max-width: 600px;
			}
		}
		&.max800 {
			.image {
				max-width: 800px;
			}
		}
		&.max900 {
			.image {
				max-width: 900px;
			}
		}
		&.max1000 {
			.image {
				max-width: 1000px;
			}
		}
	}
}
// @include respond-below(xxl) {
// 	.right,
// 	.left,
// 	.centre{
// 		width: 100%;
// 		margin: 0 0 4% 0;
// 		&.space-before{
// 			margin: 4vh 0 4% 0;
// 		}
// 	}
// }
