// DropDowns.scss
@use "../../styles/colours.module" as *;
@use "../../styles/media-queries.scss" as *;
@use "../../styles/mixins.module.scss" as *;
@use "../../styles/variables.module" as *;

html.debug {
	.drop-downs-container {
		span {
			border: 1px solid color-mix(in oklab, var(--destructive) 20%, transparent);
		}
	}
}

html.debug {
	option.hint {
		background-color: color-mix(in oklab, var(--chart-2) 10%, transparent);
	}
}

.drop-downs-container {
	.phrases-html,
	table td {
		p {
			margin: 0;
			// > span {
			// padding: 0;
			// margin: 0;
			// border: 0 solid transparent;
			// }
				svg {
					&.tick,
					&.cross {
						width: 24px;
						height: 24px;
						color: var(--destructive);
						display: inline-block; //none;
						margin-left: 8px;
						opacity: 0;
					transition: opacity 1s;
				}
				&.tick {
					color: var(--chart-2);
				}
				&.cross {
					margin-left: -24px;
				}
			}
			&.correct {
				svg.tick {
					display: inline-block;
					opacity: 1;
					transition: opacity 1s;
				}
				// select,
				// .select,
				> span {
					border-color: $correct-border;
					background-color: $correct-background;
					pointer-events: none;
				}
			}
			&.incorrect {
				svg.cross {
					display: inline-block;
					opacity: 1;
					transition: opacity 1s;
				}
				// select,
				// .select,
				> span {
					border-color: $incorrect-border;
					background-color: $incorrect-background;
				}
			}
			select,
			.select {
				// span {
				padding: 0;
				min-width: 9rem;
				display: inline-block;
				outline: none;
				box-sizing: border-box;
				border-color: var(--border);
				border-radius: 8px;
				border-width: 1px;
				position: relative;
			}
			span {
				// 	padding: 10px 40px 5px 7px;
				border-radius: calc(var(--radius) - 2px);
			}
		}
		&.audioCell {
			padding: 0;
			.audio-container {
				width: 27px;
				height: 27px;
			}
		}
	}

	.hidden-help {
		opacity: 0;
		transition: opacity 4s;
		&.show {
			opacity: 1;
			transition: opacity 4s;
		}
	}

	.dropdown-audio {
		margin-bottom: 1rem;
	}

	// table {
	// 	text-align: left;
	// 	border-collapse: collapse;
	// 	background: white;
	// 	td,
	// 	th {
	// 		border: 1px solid #000000;
	// 		padding: 5px 4px;
	// 		// font-weight: bold;
	// 	}
	// 	tbody {
	// 		border: none;
	// 		tr {
	// 			&.spacer {
	// 				border-left: none;
	// 				border-right: none;
	// 				td {
	// 					border-left: none;
	// 					border-right: none;
	// 				}
	// 			}
	// 		}
	// 	}
	// 	td {
	// 		padding: 0.1rem;
	// 	}
	// }
}

@include respond-above(m) {
	.drop-downs-container {
		.phrases-html,
		table td {
			padding: 0.25rem 1rem;
			p {
				select,
				.select {
					// span {
					padding: 4px;

					min-width: 12rem;
				}
				// span {
				// 	padding: 10px 6px 5px 7px;
				// 	vertical-align: -2px;
				// }
			}
		}
	}
}
