/*
Progress.scss
*/
@use "../../../styles/colours.module" as *;
@use "../../../styles/variables.module" as *;

.progress-indicator {
	position: fixed;
	background: var(--muted);
	z-index: 1000;
	margin: auto;
	top: 50%;
	left: 50%;
	width: $progress-indicator-width;
	height: $progress-indicator-height;
	margin-left: - calc($progress-indicator-width / 2);
	margin-top: 60px;
	overflow: visible;

	span {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		text-align: center;
		font-weight: bold;
		text-shadow:
			-1px -1px 0 var(--background),
			-1px 1px 0 var(--background),
			1px 1px 0 var(--background),
			1px -1px 0 var(--background);
	}
	.progress-bar {
		height: calc(100% - 5px);
		overflow: hidden;
		margin: 2px 1px;
		position: relative;
		border-radius: 4px;
		box-shadow: 1px 0 4px color-mix(in oklab, var(--foreground) 40%, transparent);
		transition: width 1s;
		&::after {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			// Shine
		background: transparent;
			background: linear-gradient(
				0deg,
				color-mix(in oklab, var(--foreground) 20%, transparent) 0%,
				transparent 30%,
				transparent 40%,
				color-mix(in oklab, var(--background) 50%, transparent) 70%,
				transparent 100%
			);
		}
	}
	.progress-bar-background {
		top: 0;
		left: 0;
		height: 100%;
	}
}
